{% extends('AMBundle::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h1>Formation list</h1>
        </div>
        <div class="card-block">
                {% for formation in formations %}
                            {{ formation.institut }}
                             {% if formation.dateDebut %}{{ formation.dateDebut|date('d/m/Y') }}{% endif %} -- {% if formation.dateFin %}{{ formation.dateFin|date('d/m/Y') }}{% endif %}
                            {{ formation.diplome }}
                {% endfor %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

