{% extends('AMBundle::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h1>Ma formation</h1>
        </div>
        <div class="card-block">
                {% for formation in formations %}
                    <p><img src="{{ asset('bundles/am/images/insa.png') }}"/>
                    {{ formation.institut }}</p>
                            <small>{% if formation.dateDebut %}{{ formation.dateDebut|date('Y') }}{% endif %} -- {% if formation.dateFin %}{{ formation.dateFin|date('Y') }}{% endif %}</small>
                            <p>{{ formation.diplome }}</p>
                {% endfor %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

