{% extends('AMBundle::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pdfobject-container { height: 300px;}
        .pdfobject { border: 1px solid #666; }
    </style>
{% endblock %}

{% block body %}

    <div class="card col-md-12">
        <div class="card-header">
            Mon CV
        </div>
        <div class="card-block">
            <div id="monCV"></div>
        </div>
        <hr />
        <div class="card col-md-8 col-md-offset-2">
            <h4>Me contacter</h4>
            <div class="card-block">
                {{ form_start(form) }}
                {{ form_row(form.nom, {'label' : 'Votre nom :'}) }}
                {{ form_row(form.titre, {'label' : 'Objet :'}) }}
                {{ form_row(form.message, {'label' : 'Votre message :'}) }}
                {{ form_widget(form.submit, {'class': 'col-sm-offset-3'}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pdfobject.min.js') }}"></script>
    <script>
        var options = {
            fallbackLink: '<p>Votre nagiateur ne supporte pas le lecteur PDF que j\'utilise.</p><p>C\'est nullement grave puisque vous pouvez télécharger mon cv <a href="{{ asset('doc/cv.pdf') }}">ici</a></p>'
        };
        PDFObject.embed("{{ asset('doc/cv.pdf') }}", "#monCV", options);</script>
{% endblock %}