{% extends('AMBundle::base.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pdfobject-container { height: 300px;}
        .pdfobject { border: 1px solid #666; }
    </style>
{% endblock %}

{% block body %}

    <div class="card col-md-12">
        <div class="card-header">
            {{ 'Mon CV'|trans }}
        </div>
        <div class="card-block">
            <div id="monCV"></div>
            <p>{% trans %}Vous pouvez télécharger mon cv en cliquant{% endtrans %} <a href="{{ asset('bundles/am/doc/amine_maddah.pdf') }}" download>{{ 'ici'|trans }}</a></p>
        </div>
        <hr />

        {% include('AMBundle::baseContact.html.twig') %}

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pdfobject.min.js') }}"></script>
    <script>
        var options = {
            fallbackLink: '<p>Votre nagiateur ne supporte pas le lecteur PDF que j\'utilise.</p>'
        };
        PDFObject.embed("{{ asset('bundles/am/doc/amine_maddah.pdf') }}", "#monCV", options);</script>
{% endblock %}